/*  My Custom Styles  */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
}
ul, ol {
	list-style-type: none;
}
/*  custom properties
-----------------------------------------------------------------------  */
:root {
/* - Family: [Outfit](https://fonts.google.com/specimen/Outfit) */
	--ff-primary: 'Outfit', sans-serif;

	--fs-body: 18px;

	--fw-reg: 300;
  --fw-med: 400;
	--fw-bold: 600;

/*	### Primary */
	--clr-cyan: hsl(178, 100%, 50%);
	--clr-soft-blue: hsl(215, 51%, 70%);
/*	### Neutral */
	--clr-blue-main-bg: hsl(217, 54%, 11%);
	--clr-blue-card-bg: hsl(216, 50%, 16%);
	--clr-blue-line: hsl(215, 32%, 27%);
	--clr-white: hsl(0, 0%, 100%);
}

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
/* 	height: 100vh; */
	min-height: 100vh;
	max-width: 100%;
	color: var(--clr-white);
  font-size: var(--fs-body);
	font-weight: var(--fw-reg);
	font-family: var(--ff-primary);
}
main {
	background-color: var(--clr-blue-main-bg);
	min-height: 100vh;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}
.card {
	max-width: 375px;
	background-color: var(--clr-blue-card-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	padding: 1.5rem;
	margin: 0 auto;
}
img[data-icon-eye] {
	display: none;
	opacity: 0;
}
.card h1 {
	color: var(--clr-white);
}
.card p {
	color: var(--clr-soft-blue);
}
div.ticker {
	max-height: 18px;
	margin-bottom: 1rem;;
}
.card hr {
	color: var(--clr-blue-line);
}

.attribution {
	font-size: 11px; text-align: center; 
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}

/* 
- Mobile: 375px
- Desktop: 1440px
*/
