/*  My Custom Styles  */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
}
ul, ol {
	list-style-type: none;
}
/*  custom properties
-----------------------------------------------------------------------  */
:root {
/* - Family: [Outfit](https://fonts.google.com/specimen/Outfit) */
	--ff-primary: 'Outfit', sans-serif;

	--fs-body: 18px;
	--fs-h1: 22px;

	--fw-reg: 300;
  --fw-med: 400;
	--fw-bold: 600;

/*	### Primary */
	--clr-cyan: hsl(178, 100%, 50%);
	--clr-soft-blue: hsl(215, 51%, 70%);
/*	### Neutral */
	--clr-blue-main-bg: hsl(217, 54%, 11%);
	--clr-blue-card-bg: hsl(216, 50%, 16%);
	--clr-blue-line: hsl(215, 32%, 27%);
	--clr-white: hsl(0, 0%, 100%);
}
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	min-height: 100vh;
	max-width: 100%;
	line-height: 1.6;
	color: var(--clr-white);
  font-size: var(--fs-body);
	font-weight: var(--fw-reg);
	font-family: var(--ff-primary);
}
/* topography
---------------------------------------------------------------------------- */
h1 {
	font-size: var(--fs-h1);
	font-weight: var(--fw-bold);
	color: var(--clr-white);
}
p {
	color: var(--clr-soft-blue);
}
/* link styling
---------------------------------------------------------------------------- */
a:link {
	color: var(--clr-cyan);
	text-decoration: none;
	font-size: 16px;
	font-weight: var(--fw-bold);
}
a:visited {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

main {
	background-color: var(--clr-blue-main-bg);
	min-height: 100vh;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}
.card {
	max-width: 375px;
	background-color: var(--clr-blue-card-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: .75rem;
	padding: 1.75rem;
	border-radius: 1rem;
	margin: 0 auto;
}
img[data-main-image] {
	border-radius: 6px;
}
img[data-icon-eye] {
	display: none;
	opacity: 0;
}
h1 {
	padding-top: 0.55rem;
}

div.ticker {
	display: flex;
	flex-direction: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-top: 0.5rem;
	margin-bottom: 0.4rem;;
}
.ticker img {
	display: inline-block;
}
.ticker p a img {
	height: 20px;
}

img[data-icon-ethereum] {
	vertical-align: -.4rem;
	margin-right: 0.5rem;
}
img[data-icon-clock] {
	vertical-align: -.1rem;
	margin-right: 0.4rem;
}
.card hr {
	color: var(--clr-blue-line);
}

.credits {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 1rem;
	padding-top: 0.3rem;
}
.credits p {
	font-size: 16px;
}
img[data-avatar] {
	height: 35px;
	border: 1px solid white;
	border-radius: 100%;
}
span.author {
	font-weight: var(--fw-med);
	color: var(--clr-white);
}
.attribution {
	font-size: 11px; text-align: center; 
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}
.hide {
	display: none;
}

/* 
- Mobile: 375px
- Desktop: 1440px
*/
