/*  My Custom Styles  */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	display: block;
	max-width: 100%;
}
ul, ol {
	list-style-type: none;
}
/*  custom properties
-----------------------------------------------------------------------  */
:root {
/* - Family: [Outfit](https://fonts.google.com/specimen/Outfit) */
	--ff-primary: 'Outfit', sans-serif;

	--fs-body: 16px;

	--fw-reg: 300;
  --fw-med: 400;
	--fw-bold: 600;

/*	### Primary */
	--clr-cyan: hsl(178, 100%, 50%);
	--clr-soft-blue: hsl(215, 51%, 70%);
/*	### Neutral */
	--clr-blue-main-bg: hsl(217, 54%, 11%);
	--clr-blue-card-bg: hsl(216, 50%, 16%);
	--clr-blue-line: hsl(215, 32%, 27%);
	--clr-white: hsl(0, 0%, 100%);
}
html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	min-height: 100vh;
	max-width: 100%;
	line-height: 1.6;
	color: var(--clr-white);
  font-size: var(--fs-body);
	font-weight: var(--fw-reg);
	font-family: var(--ff-primary);
	padding: 10vh 0 10vh 0;
}
/* topography
---------------------------------------------------------------------------- */
h1 {
	font-size: var(--fs-h1);
	font-weight: var(--fw-bold);
	color: var(--clr-white);
}
p {
	color: var(--clr-soft-blue);
}
/* link styling
---------------------------------------------------------------------------- */
a:link {
	color: var(--clr-white);
	text-decoration: none;
	font-size: 16px;
	font-weight: var(--fw-bold);
}
a:visited {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a:hover {
	color: var(--clr-cyan);
}
a:active {
	text-decoration: none;
}
/* 
---------------------------------------------------------------------------- */
main {
	background-color: var(--clr-blue-main-bg);
	min-height: 100vh;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}
.card {
	max-width: 375px;
	background-color: var(--clr-blue-card-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	padding: 1.75rem;
	border-radius: 1rem;
	margin: 0 auto;
}
/* 
---------------------------------------------------------------------------- */
.card-image {
	position: relative;
	background-color: var(--clr-cyan);
	border-radius: 6px;
	margin-bottom: 0.6rem;
}
img[data-main-image] {
	opacity: 1;
	transition: .5s ease;
  backface-visibility: hidden;
	border-radius: 6px;
}
img[data-icon-eye] {
	transition: .5s ease;
	opacity: 0;
	width: 48px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.card-image:hover img[data-main-image] {
	opacity: 0.5;
}
.card-image:hover img[data-icon-eye] {
	opacity: .9;
}
/* 
---------------------------------------------------------------------------- */
.card-content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	gap: 1.2rem;
}
.card-content a:link {
	font-size: 19px;
	font-weight: var(--fw-bold);
}

div.ticker {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
/* 	padding-top: 0.5rem;
	margin-bottom: 0.4rem; */
}
.ticker img {
	display: inline-block;
}
.ticker p a img {
	height: 20px;
}
.ticker p:first-child {
	color: var(--clr-cyan);
}

img[data-icon-ethereum] {
	vertical-align: -.3rem;
	margin-right: 0.5rem;
}
img[data-icon-clock] {
	vertical-align: -.1rem;
	margin-right: 0.4rem;
}
.card hr {
	color: var(--clr-blue-line);
}

.card-credits {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 1rem;
	padding-top: 0.3rem;
}
.credits p {
	font-size: 16px;
}
img[data-avatar] {
	height: 35px;
	border: 1px solid white;
	border-radius: 100%;
}
span.author {
	font-weight: var(--fw-reg);
	color: var(--clr-white);
}
.attribution {
	font-size: 11px; text-align: center; 
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}
.hide {
	display: none;
}

/* 
- Mobile: 375px
- Desktop: 1440px
*/
